APP_NAME="Bora-Ora-Backend Server"
NODE_ENV=local
APP_ENV=local
PORT=3030
HOSTNAME=http://localhost

MYSQL_HOST=
MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_LOGGING=true
MYSQL_SYNCHRONIZE=true

SECRET_KEY=
BCRYPT_SALT=

GMAIL_USER=
GMAIL_PASSWORD=

ACCESS_TOKEN_EXPIRESIN=
REFRESH_TOKEN_EXPIRESIN=

MEDIA_HOSTNAME=

USER_DEFAULT_LEVEL=
USER_DEFAULT_STATUS=020010


APP_NAME="bora-ora Backend Server"
NODE_ENV=local
APP_ENV=local
PORT=3030
HOSTNAME=http://localhost

FRONT_HOST=http://localhost
FRONT_PORT=3000

MYSQL_HOST=
MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_LOGGING=
MYSQL_SYNCHRONIZE=

GMAIL_USER=
GMAIL_PASSWORD=

SECRET_KEY=
BCRYPT_SALT=

ACCESS_TOKEN_EXPIRESIN=1h
REFRESH_TOKEN_EXPIRESIN=24h

MEDIA_HOSTNAME=

USER_DEFAULT_LEVEL=
USER_DEFAULT_STATUS=
